@font-face {
  font-family: "Neue";
  font-display: swap;
  src: url("../fonts/NeueMachina-Bold.woff") format("woff"), url("../fonts/NeueMachina-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  font-display: swap;
  src: url("../fonts/NeueMachina-Light.woff") format("woff"), url("../fonts/NeueMachina-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  font-display: swap;
  src: url("../fonts/NeueMachina-Medium.woff") format("woff"), url("../fonts/NeueMachina-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  font-display: swap;
  src: url("../fonts/NeueMachina-Regular.woff") format("woff"), url("../fonts/NeueMachina-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue";
  font-display: swap;
  src: url("../fonts/NeueMachina-Ultralight.woff") format("woff"), url("../fonts/NeueMachina-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Neue";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Neue";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 0.52083vw;
}

body {
  color: #fff;
  background: url("../img/global.jpg");
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 130.4rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 2.4rem 6rem 2.9rem;
  color: #202020;
  background: -webkit-gradient(linear, right top, left top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(right, #034de2, #00e700);
  background: linear-gradient(to left, #034de2, #00e700);
  border-radius: 3.9rem;
  text-transform: uppercase;
}

.title {
  font-weight: 500;
  font-size: 10.1rem;
}

.dop {
  position: absolute;
  z-index: -100;
}

.header__down {
  -webkit-animation: arrow 1.5s infinite;
          animation: arrow 1.5s infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0rem);
            transform: translate(0, 0rem);
  }

  50% {
    -webkit-transform: translate(0, -2rem);
            transform: translate(0, -2rem);
  }

  100% {
    -webkit-transform: translate(0, 0rem);
            transform: translate(0, 0rem);
  }
}

._text-anim {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  opacity: 0;
}

._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim-one {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
}

._text-anim-one._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.thanks__title {
  font-size: 22px;
  color: #000;
  text-align: center;
  max-width: 320px;
  margin: 0rem auto;
}

.thanks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50rem;
}

.header {
  position: relative;
}

.header__dop {
  right: 0;
  top: 0;
}

.header__dop img {
  max-width: 98.2rem;
}

.header__content {
  padding: 10.4rem 0rem 0rem 0rem;
  position: relative;
}

.header__nav {
  margin: 0rem 0rem 13.1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__disk {
  font-size: 2.7rem;
  color: #00e75c;
  margin: 0rem 0rem 5.5rem 0rem;
}

.header__title {
  font-size: 13.45rem;
  line-height: 11.65rem;
  max-width: 60rem;
  margin: 0rem 0rem 6.5rem 0rem;
}

.header__subtitle {
  font-size: 2.9rem;
  font-weight: 300;
  line-height: 1.2;
  max-width: 86.9rem;
  margin: 0rem 0rem 6.7rem 0rem;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__time {
  font-size: 2.65rem;
  font-weight: 300;
  border-radius: 3rem;
  padding: 2.2rem 4.4rem 2.2rem 4.4rem;
  position: relative;
}

.header__time span {
  position: relative;
  z-index: 10;
}

.header__time::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/global.jpg");
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 3rem;
}

.header__time-start {
  margin: 0rem 3.3rem 0rem 0rem;
  border-radius: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(left, #034de2, #00e700);
  background: linear-gradient(to right, #034de2, #00e700);
}

.header__time-line {
  background: -webkit-gradient(linear, right top, left top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(right, #034de2, #00e700);
  background: linear-gradient(to left, #034de2, #00e700);
}

.header__down {
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-header__item {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 200;
  margin: 0rem 7.8rem 0rem 0rem;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  position: relative;
}

.about__content {
  padding: 34.7rem 0rem 37.3rem 0rem;
}

.about__title {
  margin: 0rem 0rem 10.6rem 0rem;
}

.about__text {
  font-size: 4.05rem;
  font-weight: 300;
  max-width: 103.8rem;
  margin: 0rem 0rem 10.5rem 0rem;
}

.about__text-item {
  margin: 0rem 0rem 8rem 0rem;
}

.about__dop {
  right: 0;
  top: 50rem;
}

.about__dop img {
  max-width: 113.1rem;
}

.value__content {
  padding: 0rem 0rem 39rem 0rem;
}

.value__title {
  margin: 0rem 0rem 13rem 0rem;
}

.value__text {
  margin: 0rem 0rem 13.3rem 0rem;
  font-size: 4.05rem;
  font-weight: 300;
}

.value__text-item {
  margin: 0rem 0rem 6.2rem 0rem;
  padding: 0rem 0rem 0rem 8.2rem;
  line-height: 1.2;
  position: relative;
}

.value__text-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/icons/light-bl.png");
  background-size: 6.8rem 6.8rem;
  width: 6.8rem;
  height: 6.8rem;
  z-index: 10;
}

.value__text-item:nth-child(odd)::after {
  background-image: url("../img/icons/light-gr.png");
}

.prof {
  position: relative;
}

.prof__content {
  padding: 0rem 0rem 32.7rem 0rem;
}

.prof__title {
  margin: 0rem 0rem 17.6rem 0rem;
}

.prof__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prof__dop {
  top: 15rem;
  left: 0;
}

.prof__dop img {
  max-width: 60.8rem;
}

.inner-prof__item {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  margin: 0rem 0rem 15.4rem 0rem;
  padding: 0rem 0rem 0rem 8.7rem;
}

.inner-prof__item:nth-child(3) {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-prof__item:nth-child(4) {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-prof__title {
  font-size: 3.35rem;
  font-weight: 500;
  margin: 0rem 0rem 3rem 0rem;
  position: relative;
}

.inner-prof__title::after {
  content: "";
  position: absolute;
  left: -8.7rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/icons/galka.png");
  background-size: 5.9rem;
  width: 5.9rem;
  height: 5.9rem;
}

.inner-prof__text {
  font-size: 2.55rem;
  line-height: 1.2;
}

.inner-prof__text-item {
  margin: 0rem 0rem 2rem 0rem;
}

.inner-prof__text-item-g {
  color: #b5b5b5;
}

.program {
  position: relative;
}

.program__content {
  padding: 0rem 0rem 30rem 0rem;
}

.program__title {
  margin: 0rem 0rem 13.5rem 0rem;
}

.program__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program__dop {
  top: 20rem;
  right: 0;
}

.program__dop img {
  max-width: 80.4rem;
}

.inner-program__item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 0rem 0rem 12.2rem 0rem;
  padding: 6rem 4.5rem 5.6rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(bottom, #034de2, #00e700);
  background: linear-gradient(to top, #034de2, #00e700);
  border-radius: 3.5rem;
  position: relative;
}

.inner-program__item:nth-child(3) {
  top: -36.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.inner-program__item:nth-child(4) {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-program__item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/global.jpg");
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 3.5rem;
}

.inner-program__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, right top, left top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(right, #034de2, #00e700);
  background: linear-gradient(to left, #034de2, #00e700);
  padding: 0rem 4.6rem 0rem 0rem;
  position: relative;
  border-radius: 3.5rem;
  max-width: 49rem;
  margin: 0rem 0rem 4.4rem 0rem;
  z-index: 10;
}

.inner-program__title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1d211f;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 3.5rem;
}

.inner-program__mod {
  position: relative;
  z-index: 10;
  font-size: 3.7rem;
  font-weight: 700;
  padding: 2.5rem 3.7rem 1.9rem;
  border-radius: 3.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#034de2), to(#00e700));
  background-image: -o-linear-gradient(left, #034de2, #00e700);
  background-image: linear-gradient(to right, #034de2, #00e700);
}

.inner-program__title-text {
  position: relative;
  z-index: 10;
  font-size: 2.7rem;
  max-width: 13.8rem;
}

.inner-program__text {
  position: relative;
  z-index: 10;
}

.inner-program__text-item {
  line-height: 1.2;
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0rem 0rem 2rem 0rem;
}

.inner-program__item-f {
  background: -webkit-gradient(linear, left bottom, left top, from(#c82090), to(#6a14d1));
  background: -o-linear-gradient(bottom, #c82090, #6a14d1);
  background: linear-gradient(to top, #c82090, #6a14d1);
}

.inner-program__item-f .inner-program__mod {
  background: -webkit-gradient(linear, left top, right top, from(#c82090), to(#6a14d1));
  background: -o-linear-gradient(left, #c82090, #6a14d1);
  background: linear-gradient(to right, #c82090, #6a14d1);
}

.inner-program__item-f .inner-program__title {
  background: -webkit-gradient(linear, right top, left top, from(#c82090), to(#6a14d1));
  background: -o-linear-gradient(right, #c82090, #6a14d1);
  background: linear-gradient(to left, #c82090, #6a14d1);
}

.speak__title {
  margin: 0rem 0rem 19rem 0rem;
}

.speak__inner {
  border-radius: 3.5rem;
  border: solid 0.3rem #00e700;
  padding: 11.4rem 0rem 11.2rem 12.1rem;
  margin: 0rem 0rem 17.5rem 0rem;
  position: relative;
}

.speak__inner:last-child {
  border: solid 0.3rem #034de2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 11.4rem 12.1rem 11.2rem 0;
}

.speak__inner:last-child .inner-speak__name {
  color: #034de2;
}

.speak__inner:last-child .inner-speak__img {
  position: absolute;
  left: 0rem;
  bottom: -0.3rem;
}

.speak__inner:last-child .inner-speak__img img {
  max-width: 59.6rem;
}

.speak__inner:last-child .inner-speak__text {
  max-width: 59rem;
  margin: 0 3rem 0 0;
}

.speak__inner:last-child .inner-speak__light {
  right: auto;
  left: -10rem;
  top: -14rem;
}

.inner-speak__name {
  font-size: 4.75rem;
  color: #00e700;
  margin: 0rem 0rem 4rem 0rem;
  position: relative;
  z-index: 10;
}

.inner-speak__text {
  font-size: 2.55rem;
  line-height: 1.3;
  max-width: 55rem;
  position: relative;
  z-index: 10;
}

.inner-speak__text-item {
  margin: 0rem 0rem 2rem 0rem;
  position: relative;
  padding: 0rem 0rem 0rem 2.2rem;
}

.inner-speak__text-item::after {
  content: "-";
  position: absolute;
  left: 0;
  top: 0rem;
}

.inner-speak__img {
  position: absolute;
  right: 0.5rem;
  bottom: -0.3rem;
}

.inner-speak__img img {
  max-width: 59.6rem;
}

.inner-speak__light {
  position: absolute;
  right: -9rem;
  top: -14rem;
  z-index: -10;
}

.inner-speak__light img {
  max-width: 77.5rem;
}

.tarif {
  position: relative;
}

.tarif__content {
  padding: 0rem 0rem 39rem 0rem;
}

.tarif__title {
  margin: 0rem 0rem 17.8rem 0rem;
}

.tarif__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tarif__dop {
  top: -80rem;
  left: 0;
}

.tarif__dop img {
  max-width: 85rem;
}

.inner-tarif__item {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  text-align: center;
}

.inner-tarif__item:nth-child(1) .inner-tarif__text {
  background: -webkit-gradient(linear, left top, left bottom, from(#78c9c6), color-stop(#ffffff), to(#78c9c6));
  background: -o-linear-gradient(top, #78c9c6, #ffffff, #78c9c6);
  background: linear-gradient(to bottom, #78c9c6, #ffffff, #78c9c6);
}

.inner-tarif__item:nth-child(1) .inner-tarif__price {
  background: -webkit-gradient(linear, left bottom, left top, from(#78c9c6), color-stop(#ffffff), to(#78c9c6));
  background: -o-linear-gradient(bottom, #78c9c6, #ffffff, #78c9c6);
  background: linear-gradient(to top, #78c9c6, #ffffff, #78c9c6);
}

.inner-tarif__item:nth-child(1) .inner-tarif__title,
.inner-tarif__item:nth-child(1) .inner-tarif__price-item {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#77c9c6));
  background: -o-linear-gradient(left, #ffffff, #77c9c6);
  background: linear-gradient(to right, #ffffff, #77c9c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-tarif__item:nth-child(1) .inner-tarif__btn a {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#77c9c6));
  background: -o-linear-gradient(left, #ffffff, #77c9c6);
  background: linear-gradient(to right, #ffffff, #77c9c6);
}

.inner-tarif__item:nth-child(2) {
  margin: 0rem 6.4rem;
}

.inner-tarif__item:nth-child(2) .inner-tarif__text {
  background: -webkit-gradient(linear, left top, left bottom, from(#034de2), to(#00e700));
  background: -o-linear-gradient(top, #034de2, #00e700);
  background: linear-gradient(to bottom, #034de2, #00e700);
}

.inner-tarif__item:nth-child(2) .inner-tarif__price {
  background: -webkit-gradient(linear, left bottom, left top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(bottom, #034de2, #00e700);
  background: linear-gradient(to top, #034de2, #00e700);
}

.inner-tarif__item:nth-child(2) .inner-tarif__title,
.inner-tarif__item:nth-child(2) .inner-tarif__price-item {
  background: -webkit-gradient(linear, left top, right top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(left, #034de2, #00e700);
  background: linear-gradient(to right, #034de2, #00e700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-tarif__item:nth-child(2) .inner-tarif__btn a {
  background: -webkit-gradient(linear, left top, right top, from(#034de2), to(#00e700));
  background: -o-linear-gradient(left, #034de2, #00e700);
  background: linear-gradient(to right, #034de2, #00e700);
}

.inner-tarif__item:nth-child(3) .inner-tarif__text {
  background: -webkit-gradient(linear, left top, left bottom, from(#c82090), to(#6a14d1));
  background: -o-linear-gradient(top, #c82090, #6a14d1);
  background: linear-gradient(to bottom, #c82090, #6a14d1);
}

.inner-tarif__item:nth-child(3) .inner-tarif__price {
  background: -webkit-gradient(linear, left bottom, left top, from(#c82090), to(#6a14d1));
  background: -o-linear-gradient(bottom, #c82090, #6a14d1);
  background: linear-gradient(to top, #c82090, #6a14d1);
}

.inner-tarif__item:nth-child(3) .inner-tarif__title,
.inner-tarif__item:nth-child(3) .inner-tarif__price-item {
  background: -webkit-gradient(linear, left top, right top, from(#c51f92), to(#6d14cf));
  background: -o-linear-gradient(left, #c51f92, #6d14cf);
  background: linear-gradient(to right, #c51f92, #6d14cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-tarif__item:nth-child(3) .inner-tarif__btn a {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#c51f92), to(#6d14cf));
  background: -o-linear-gradient(left, #c51f92, #6d14cf);
  background: linear-gradient(to right, #c51f92, #6d14cf);
}

.inner-tarif__text {
  font-size: 1.5rem;
  line-height: 2.65rem;
  position: relative;
  border-radius: 3rem 3rem 0 0;
  margin: 0rem 0rem 1.3rem 0rem;
  padding: 6.3rem 3.2rem 6.9rem;
}

.inner-tarif__text::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/global.jpg");
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 3rem 3rem 0 0;
}

.inner-tarif__title {
  font-size: 3.15rem;
  font-weight: 500;
  margin: 0rem 0rem 5.8rem 0rem;
  position: relative;
  z-index: 10;
}

.inner-tarif__text-item {
  position: relative;
  z-index: 10;
  margin: 0rem 0rem 2rem 0rem;
}

.inner-tarif__price {
  position: relative;
  font-size: 4.05rem;
  margin: 0rem 0rem 2.8rem 0rem;
  padding: 3.2rem 0rem;
  border-radius: 0 0 3rem 3rem;
}

.inner-tarif__price::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/global.jpg");
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 0 0 3rem 3rem;
}

.inner-tarif__price-item {
  position: relative;
  z-index: 100;
  font-weight: 500;
}

.qus {
  position: relative;
}

.qus__content {
  padding: 0rem 0rem 26.6rem 0rem;
}

.qus__title {
  margin: 0rem 0rem 18.6rem 0rem;
}

.qus__dop {
  top: -25rem;
  right: 0;
}

.qus__dop img {
  max-width: 73.4rem;
}

.qus__dop-2 {
  bottom: 0;
  left: 0;
}

.qus__dop-2 img {
  max-width: 60.3rem;
}

.inner-qus__item {
  margin: 0rem 0rem 5.3rem 0rem;
  padding: 0rem 25rem 4.6rem 0rem;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.2);
}

.inner-qus__item:nth-child(even) .inner-qus__title::before {
  background: url("../img/icons/light-bl.png");
  background-size: 6.8rem;
  width: 6.8rem;
  height: 6.8rem;
}

.inner-qus__item:nth-child(even) .inner-qus__title span {
  color: #034de2;
}

.inner-qus__title {
  width: 100%;
  font-size: 3.35rem;
  font-weight: 500;
  line-height: 4.1rem;
  text-align: left;
  color: #fff;
  background: transparent;
  padding: 0rem 0rem 0rem 8.4rem;
  position: relative;
}

.inner-qus__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/icons/light-gr.png");
  background-size: 6.8rem;
  width: 6.8rem;
  height: 6.8rem;
}

.inner-qus__title::after {
  content: "";
  position: absolute;
  right: -22rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/icons/qus.png");
  background-size: 3.6rem 2rem;
  width: 3.6rem;
  height: 2rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.inner-qus__title._active::after {
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.inner-qus__title span {
  color: #00e700;
}

.inner-qus__text {
  padding: 4.6rem 0rem 0rem 8.4rem;
}

.inner-qus__text-item {
  font-size: 2.55rem;
  line-height: 1.2;
  font-weight: 200;
  margin: 0rem 0rem 2rem 0rem;
}

.inner-qus__text-item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

@media (max-width: 991.98px) {
  ._text-anim {
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }

  ._text-anim-one {
    -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 2.08333vw;
  }

  .btn {
    text-transform: none;
    text-align: center;
    padding: 1.7rem 0rem;
    font-size: 1.95rem;
    width: 100%;
  }

  .title {
    font-size: 4.2rem;
  }

  .header__dop img {
    max-width: 100%;
  }

  .header__dop {
    right: -6rem;
    top: -6rem;
  }

  .header__content {
    padding: 14.8rem 8rem 0rem;
  }

  .header__disk {
    font-size: 2.4rem;
    margin: 0rem 0rem 3.5rem 0rem;
  }

  .header__title {
    font-size: 6.95rem;
    line-height: 6rem;
    margin: 0rem 0rem 6.3rem 0rem;
  }

  .header__subtitle {
    font-size: 1.75rem;
    max-width: 27.9rem;
    margin: 0rem 0rem 7.9rem 0rem;
  }

  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__time {
    font-size: 1.95rem;
    padding: 2.1rem 4rem;
    text-align: center;
  }

  .header__time-start {
    margin: 0rem 0rem 3.9rem 0rem;
  }

  .header__down {
    display: none;
  }

  .nav-header__item {
    color: #fff;
    font-weight: 400;
    margin: 0rem 0rem 2rem 0rem;
    opacity: 0.8;
  }

  main.lock {
    opacity: 0.6;
  }

  .header__burger {
    display: block;
    position: absolute !important;
    width: 3.5rem;
    height: 2.5rem;
    left: calc(100% + 8rem);
    top: 5.6rem;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 1.2rem;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 1.2rem;
  }

  .header__nav {
    position: fixed;
    top: 0%;
    left: -50%;
    width: 50%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(29, 33, 31, 0.8);
    padding: 10rem 3rem 5rem;
    z-index: 21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav.active {
    left: 0;
  }

  .bg-mob {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: -1.4rem 0.4rem 0.8rem 0px rgba(34, 60, 80, 0.6);
            box-shadow: -1.4rem 0.4rem 0.8rem 0px rgba(34, 60, 80, 0.6);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .bg-mob.active {
    opacity: 1;
    visibility: visible;
  }

  .about__content {
    padding: 10.1rem 8rem 11.1rem;
  }

  .about__title {
    font-size: 4.2rem;
    margin: 0rem 0rem 7.5rem 0rem;
    text-align: center;
  }

  .about__text {
    font-size: 1.75rem;
    line-height: 1.2;
    margin: 0rem 0rem 7.7rem 0rem;
  }

  .about__text-item {
    margin: 0rem 0rem 4rem 0rem;
  }

  .about__btn a {
    padding: 1.7rem 8.5rem;
  }

  .about__dop {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: -15rem;
  }

  .about__dop img {
    max-width: 68rem;
  }

  .value__content {
    padding: 0rem 8rem 12rem;
  }

  .value__title {
    max-width: 21.3rem;
    margin: 0rem 0rem 6.9rem 0rem;
  }

  .value__text {
    font-size: 1.75rem;
    margin: 0rem 0rem 7.9rem 0rem;
  }

  .value__text-item::after {
    background-size: 3.4rem 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
  }

  .value__text-item {
    padding: 0rem 0rem 0rem 4.8rem;
    margin: 0rem 0rem 3.1rem 0rem;
  }

  .prof__content {
    padding: 0rem 8rem 10.8rem;
  }

  .prof__title {
    max-width: 22rem;
    margin: 0rem 0rem 8.2rem 0rem;
  }

  .prof__dop {
    left: auto;
    right: -3rem;
    top: -40rem;
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }

  .prof__dop img {
    max-width: 40.8rem;
  }

  .inner-prof__item:nth-child(3) {
    margin: 0rem 0rem 6.3rem 0rem;
  }

  .inner-prof__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 6.3rem 0rem;
  }

  .inner-prof__title::after {
    background-size: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    left: 0rem;
  }

  .inner-prof__title {
    margin: 0rem 0rem 4.1rem 0rem;
    padding: 0rem 0rem 0rem 5.6rem;
    font-size: 2.55rem;
  }

  .inner-prof__text {
    font-size: 1.75rem;
  }

  .program__content {
    padding: 0rem 8rem 11rem;
  }

  .program__title {
    margin: 0rem 0rem 7.7rem 0rem;
  }

  .program__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .program__dop {
    top: 80rem;
  }

  .program__dop img {
    max-width: 40.4rem;
  }

  .inner-program__item:nth-child(3) {
    top: auto;
    margin: 0rem 0rem 5.9rem 0rem;
  }

  .inner-program__item {
    padding: 6.3rem 4rem 6rem 4rem;
    margin: 0rem 0rem 5.9rem 0rem;
  }

  .inner-program__title {
    margin: 0rem 0rem 3.1rem 0rem;
    border-radius: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: none;
    padding: 0rem 0rem 0rem 0rem;
  }

  .inner-program__title::after {
    display: none;
  }

  .inner-program__mod {
    font-size: 2.6rem;
    padding: 2.8rem 0rem 2.1rem;
    width: 100%;
    margin: 0rem 0rem 3.6rem 0rem;
    text-align: center;
  }

  .inner-program__title-text {
    font-size: 2.45rem;
  }

  .inner-program__text-item {
    font-size: 1.8rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .inner-program__item-f .inner-program__title {
    background: none;
  }

  .speak__content {
    padding: 0rem 8rem 11.1rem;
  }

  .speak__title {
    margin: 0rem 0rem 27rem 0rem;
  }

  .speak__inner:last-child .inner-speak__img img {
    max-width: 27rem;
  }

  .speak__inner:last-child .inner-speak__img {
    left: 54%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -22.4rem;
    bottom: auto;
  }

  .speak__inner:last-child .inner-speak__light {
    top: -30rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .speak__inner:last-child {
    margin: 0rem 0rem 0rem 0rem;
    padding: 5.6rem 3.6rem 6rem 4rem;
  }

  .speak__inner {
    padding: 5.6rem 3.6rem 6rem 4rem;
    margin: 0rem 0rem 29.8rem 0rem;
  }

  .inner-speak__name {
    font-size: 2.55rem;
    margin: 0rem 0rem 3rem 0rem;
  }

  .inner-speak__text {
    font-size: 1.9rem;
  }

  .inner-speak__img {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -20.7rem;
  }

  .inner-speak__img img {
    max-width: 25.5rem;
  }

  .inner-speak__light {
    right: auto;
    top: -30rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .inner-speak__light img {
    max-width: 37.5rem;
  }

  .tarif__content {
    padding: 0rem 8rem 12.1rem;
  }

  .tarif__title {
    margin: 0rem 0rem 7rem 0rem;
  }

  .tarif__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tarif__dop {
    top: 135rem;
    left: auto;
    right: 0;
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }

  .tarif__dop img {
    max-width: 45rem;
  }

  .inner-tarif__item:nth-child(2) {
    margin: 0rem 0rem 8rem 0rem;
  }

  .inner-tarif__item:nth-child(3) {
    margin: 0rem 0rem 0rem 0rem;
  }

  .inner-tarif__item {
    margin: 0rem 0rem 8rem 0rem;
  }

  .inner-tarif__text {
    padding: 5.4rem 3.2rem 5.9rem;
  }

  .inner-tarif__btn a {
    max-width: 19.2rem;
  }

  .qus__content {
    padding: 0rem 8rem 26.6rem 8rem;
  }

  .qus__title {
    margin: 0rem 0rem 6.9rem 0rem;
  }

  .qus__dop img {
    max-width: 33.4rem;
  }

  .qus__dop-2 img {
    max-width: 30.3rem;
  }

  .inner-qus__item:nth-child(even) .inner-qus__title::before {
    background-size: 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
  }

  .inner-qus__item {
    padding: 0rem 4rem 4.6rem 0rem;
  }

  .inner-qus__title::before {
    background-size: 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
  }

  .inner-qus__title::after {
    background-size: 2.1rem 1.1rem;
    width: 2.1rem;
    height: 1.1rem;
    right: -3rem;
  }

  .inner-qus__title {
    font-size: 1.95rem;
    line-height: 1.1;
    padding: 0rem 0rem 0rem 4.4rem;
  }

  .inner-qus__title br {
    display: none;
  }

  .inner-qus__text-item {
    font-size: 1.75rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .inner-qus__text {
    padding: 4.6rem 0rem 0rem 4.4rem;
  }
}